<div class="container">
    <div class="row ">
        <div class="col-md-8 offset-md-2">
            <h1>Роутинг</h1>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a 
                        class="nav-link"
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" 
                        routerLink="/"
                    >Home</a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        routerLink="/cars"
                        routerLinkActive="active"
                    >Cars</a>
                </li>
            </ul>
            <hr>
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
