<h2>Home page</h2>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus adipisci aliquid vero blanditiis non ab a minus atque, quaerat animi placeat, provident tempora doloribus ratione recusandae ipsa rem earum magnam numquam quae! Officia, quasi, illum! Non, accusantium assumenda perferendis vel maxime eveniet eos quod, facilis natus veniam laborum laudantium illum itaque quae voluptates sed?</p>
<button class="btn btn-success" (click)="changeAythStatus('login')">Войти</button>
<button class="btn btn-danger" (click)="changeAythStatus('logout')">Выйти</button>
<hr>
<button class="btn btn-primary" (click)="goCarsPage()">Перейти на страницу машин</button>
